

.Altlogo{
    /* width: 100px; */
    height: 100px;
    margin: 20px auto;
}
    

button.feedback-btn {
    padding: 10px;
    background-color: #7e57c2; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
button.feedback-btn:hover {
    background-color: #5e35b1; 
}
  
button.feedback-btn:active {
    background-color: #cec3e8;
}


button.contact-btn {
    padding: 10px;
    background-color: #7e57c2; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
button.contact-btn:hover {
    background-color: #5e35b1; 
}
  
button.contact-btn:active {
    background-color: #cec3e8;
}


.aboutpg-buttoncontainer{
    display:flex;
    justify-content: center;
    padding-top: 0.5em;
    gap: 30px;
}


button.back-btn {
    width: 100%;
    padding: 10px;
    background-color: #595561; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

  }
  
button.back-btn:hover {
    background-color: #595561; 
}
  
button.back-btn:active {
    background-color: #595561;
}
