body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4B0082; /* Purple color */
  padding: 15px;
  height: 70px;
}

.App-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4B0082; /* Purple color */
  padding: 15px;
  height: 70px;
}

.App-footer h1{
  color: white;
  font-size: 15pt;;
}

.logo {
  height: 100%;
}

.hamburger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

/* Map Section */
.map-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 1071px;
  align-self: center;
}

.map-settings {
  padding: 10px;
  align-self: center;
}

.map {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.zoomable-map {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100vw; /* Prevent overflow */
  max-height: 100vh; /* Prevent overflow */
  transform-origin: center center;
}


/* Zoom behavior */
.zoomable-map:hover {
  cursor: zoom-in;
}

/* Add zooming when mouse scrolls */
.map {
  overflow: hidden;
}

.map img {
  transition: transform 0.3s ease;
}


.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 12px 16px;
  list-style: none;
  margin-left: -120px;
}

.dropdown-menu li {
  padding: 8px 12px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}