body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.App-main {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

.App-main > * {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}


.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #4B0082;  */
  @apply bg-purpleMain;
  padding: 15px;
  height: 70px;
}

.App-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #4B0082;  */
  @apply bg-purpleMedium;
  padding: 15px;
  height: 70px;
  position: relative;
}

.App-footer h1{
  color: white;
  font-size: 15pt;;
}

.logo {
  height: auto;
  max-width: 150px;

}

.hamburger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  z-index: 1000;
}

button.prof-btn {
  padding: 10px;
  background-color: #7e57c2; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

button.prof-btn:hover {
  background-color: #5e35b1; 
}

button.prof-btn:active {
  background-color: #cec3e8;
}

.controls-container{

  display: flex;
  margin-right: 10px;
  gap: 10px;

}



/* Map Section */
.map-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  align-self: center;
}

.map-settings {
  padding: 10px;
  align-self: center;
}

.map {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.zoomable-map {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%; /* Prevent overflow */
  max-height: 100vh; /* Prevent overflow */
  object-fit: cover;
  transform-origin: center center;
}


/* Zoom behavior */
.zoomable-map:hover {
  cursor: zoom-in;
}

/* Add zooming when mouse scrolls */
.map {
  overflow: hidden;
}

.map img {
  transition: transform 0.3s ease;
}


.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 12px 16px;
  list-style: none;
  margin-left: -120px;
  right: 0; 
  transform: translateY(20%);  /* moves the dropdown to the bottom (to avoid blocking with profile button) */
}

.dropdown-menu li {
  padding: 8px 12px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

.profile-container {
  padding: 20px;
}

.avatar-frame {
  width: 150px;
  height: 150px;
  border: 2px solid gray;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-label {
  cursor: pointer;
  text-align: center;
}

.file-input {
  display: none;
}

.info-section {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.info-input {
  margin-left: 10px;
}

.edit-button {
  margin-left: 10px;
}
